<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="VtuAnimationView" Language="1049" Codepage="1251" Version="0.1" Manufacturer="APM STC" UpgradeCode="de04805e-9f57-41d7-976e-a9336e7c287a">
        <Package InstallerVersion="300" Compressed="yes" InstallScope="perMachine" Manufacturer="APM-STC" Description="Animation Viewer for Vtu files" Comments="(c) 2022 APM Science and Technology Center" Platform="x64" Languages="1049" SummaryCodepage="1251" Id="482A480C-331A-43FD-86F5-2FFE79AC50F9" />
        <MediaTemplate EmbedCab="yes" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="APPLICATIONFOLDER" Name="APM-STC">
                    <Directory Id="VtuAnimationViewDir" Name="VtuAnimationView" />
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ShortcutsDir" Name="VtuAnimationView" />
            </Directory>
        </Directory>
        <ComponentGroup Id="AppGroup">
            <Component Id="AppCompExe" Directory="VtuAnimationViewDir" Guid="{83DAF9F4-38E9-4675-8FC4-07E8026C5DD8}" Win64="yes">
                <File Id="AppExe" KeyPath="yes" Source="C:\src\VtuAnimationView\release\VtuAnimationView.exe" DefaultLanguage="1049" />
            </Component>
        </ComponentGroup>
        <Icon Id="FilmTimelineIco" SourceFile="C:\src\VtuAnimationView\res\film-timeline.ico" />
        <Property Id="ARPPRODUCTICON" Value="FilmTimelineIco" />
        <DirectoryRef Id="ShortcutsDir">
            <Component Win64="yes" Guid="{58AC865D-D218-4DAD-9F75-6E75E618267E}" Id="Shortcuts">
                <Shortcut Id="ExeShortcut" Name="VtuAnimationView" Description="Animation Viewer for Vtu files" Target="[VtuAnimationViewDir]VtuAnimationView.exe" WorkingDirectory="VtuAnimationViewDir" Icon="FilmTimelineIco" />
                <RemoveFolder Id="RemoveShortcutsDir" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\VtuAnimationView" Name="installed" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </DirectoryRef>
        <UI Id="UserInterface">
            <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
            <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="9" Bold="yes" Red="50" Green="100" Blue="255" />
            <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" Red="160" Green="160" Blue="160" />
            <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
            <DialogRef Id="ProgressDlg" />
            <DialogRef Id="ErrorDlg" />
            <DialogRef Id="FilesInUse" />
            <DialogRef Id="FatalError" />
            <DialogRef Id="UserExit" />
            <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
            <Publish Dialog="WelcomeDlg" Control="Next" Event="EndDialog" Value="Return" Order="2"></Publish>
            <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">
				WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed
			</Publish>
        </UI>
        <UIRef Id="WixUI_Common" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch VtuAnimationView" />
        <Property Id="WixShellExecTarget" Value="[#AppExe]" />
        <CustomAction Id="LaunchApplication" DllEntry="WixShellExec" Impersonate="yes" />
        <WixVariable Id="WixUIBannerBmp" Value="C:\src\VtuAnimationView\res\fon85.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="C:\src\VtuAnimationView\res\Splash.BMP" />
        <Feature Id="ProductFeature" Title="Main Product" Level="1">
            <ComponentGroupRef Id="AppGroup" />
            <ComponentRef Id="Shortcuts" />
        </Feature>
    </Product>
</Wix>